header {display: flex;
    justify-content: space-between;
   background-color: #797A7e;
   padding: 10px;
    
}

.homebutton {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    
}





a {
    list-style: none;
    text-decoration: none;
    color: white;
}