body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {display: flex;
    justify-content: space-between;
   background-color: #797A7e;
   padding: 10px;
    
}

.homebutton {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    
}

.contentbody {
    flex: 1;
}

.content-top {
display: flex;
justify-content: center;
background-color: #F7F2E7;
padding: 20px;
gap: 15px;
}

.content-middle-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0ECE4;
}

.container-middle-elements {
    display: flex;
    gap: 16px;
   
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3b3b;
    color: white;
}


.content-top-right {
        max-width: 250px;
        height:  250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10%;
}

img {
    width:100%;
    border-radius: 10%;
    

}

#contact-knop a {
    color:black;
}