body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.6em;
    /* font-family: Source Sans Pro; */
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: .2px;
    line-height: 1.3em;
    color: rgba(21,20,20,.7);
    min-width: 320px;
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #E0ECE4;
    padding: 10px;
    
}

.homebutton {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    
}

.contentbody {
    flex: 1;
}

.content-top {
display: flex;
justify-content: center;
background-color: #F7F2E7; 
padding: 20px;
gap: 15px;
flex-wrap: wrap;
}

.container-middle-elements {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
   
}

.content-middle-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f7f3;
    padding: 20px;
    gap: 15px;
    flex-wrap: wrap;
}

.top-left-title, .middle-1-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.3;
}

.description {
    text-align: center;
}

.content-middle-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    background-color: #F7F2E7;
    
}

.divcontainer {
    display: flex;
    justify-content: space-between;
}
.quote {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-style: italic;
    font-size: 25px;
    line-height: 1.6;
    padding: 15px;
}

.quoteowner {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.content-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f7f3;
        padding: 10px;
        gap: 15px;
        width: 100%;
}

.inner {
    display: flex;
    background-color: #E0ECE4;
    gap: 40px;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
    justify-content: space-between;

}

.inner .title  {
    font-weight: bold;
    font-size: 25px;

}



a {
    list-style: none;
    text-decoration: none;
    color: #797A7e;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #797A7e;
    color: white;
    min-height: 100px;
}


.content-top-right {
        max-width: 250px;
        height:  250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10%;
        min-width: 250px;
        
}

.content-top-left {
    display: flex;
    flex-direction: column;
   
    row-gap: 10px;
    align-items: center;
}

img {
    width:100%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



/* CSS */
#contact-knop {
 
border-radius: 15px;
padding: 5px;
background-color: #6d9e69;
width: 200px;
height: 60px;
border: 0px;
margin-top: 10px;
}

#contact-knop a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#contact-knop-2 {
   
   
    border-radius: 15px;
    padding: 5px;
    background-color: #6d9e69;
    width: 100px;
    height: 60px;
    border: 10px;
    }
    
    #contact-knop-2 a {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }